.text1{
    width: 400px;
    background: yellowgreen;
}
.text2{
    width: 400px;
    background: cornflowerblue;
}
.text3{
    width: 400px;
    background: rosybrown;
}

.box{
    background: coral;
    width: 300px;
    height: 300px;
    margin: 30px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/*flexbox1*/
.wrapper_text1{
    display: flex;
    background: darkgrey;
    justify-content: space-between;
    width: 100%;
    height: 200px;
}
.wrapper_text1 .text1{
    flex: 1;
    background: yellowgreen;
}
.wrapper_text1 .text2{
    flex: 2;
    background: cornflowerblue;
}
.wrapper_text1 .text3{
    flex: 1;
    background: rosybrown;
}

/*flexbox2*/
.wrapper_text2{
    display: flex;
    background: darkgrey;
    justify-content: space-between;
    width: 100%;
    height:300px;
}

/*flexbox3*/
.wrapper_text3{
    display: flex;
    background: darkgrey;
    justify-content: space-around;
    width: 100%;
    height:300px;
}

/*flexbox4*/
.wrapper_text4{
    display: flex;
    background: darkgrey;
    justify-content: space-evenly;
    width: 100%;
    height:300px;
}

/*flexbox5*/
.wrapper_text5{
    display: flex;
    background: darkgrey;
    justify-content: flex-start;
    width: 100%;
    height:300px;
}

/*flexbox6*/
.wrapper_text6{
    display: flex;
    background: darkgrey;
    justify-content: flex-end;
    width: 100%;
    height:300px;
}

/*flexbox7*/
.list_box1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*flexbox8*/
.list_box2{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}





