*{
    font-family: 'Poppins', sans-serif;
}
body{
    background: #020510;
}
.container{
    background: #0A031C;
    padding-top: 30px;
    width: 95%;
    margin-left: 2.5%;
}
/*Header Navbar*/

.header__navbar {
    width: 97%;
    margin: 0 1.5% 0 1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    margin-top: 10px;
    width: 150px;
}
.logo .btn-language{
    display: none;
    height: 60px;
}
.header__navbar-list{
    display: flex;
    align-items: center;
    gap: 30px;
}
.header__navbar-list li{
    list-style-type: none;
}
.header__navbar-list li a{
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
}
.header__navbar-action{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 500px;
}
.btn-language{
    border: 2px solid #30333C;
    border-radius:10px;
    height: 40px;
    width: 80px;
    background:#1C1F29;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.btn-language__img1{
    height: 25px
}
.btn-language__img2{
    height: 15px;
}
.header__navbar-search{
    height: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.show-input{
    display: none;
    border-right: 1px solid #ffffff;
    padding-right: 20px;
    animation: growth ease-in 1.5s;
}
.show-input input{
    width: 745px;
    height: 30px;
    padding-left: 10px;
    background: none;
    border: none;
    outline: none;
    font-size: 15px;
    color: #ffffff;
}
.show-input input::placeholder{
    font-size: 15px;
}
.header__navbar-manager{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 40px;
}
.btn_icon{
    background:none;
    border:none;
    cursor: pointer;
}
.btn_icon img{
    height: 20px;
}
.btn-profile img{
    height: 23px;
}
.btn-pay{
    height: 30px;
    width: 100px;
    background: #FF2C78;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: #ffffff;
}
.btn-list{
    height: 35px;
    width: 40px;
    background: #FF2C78;
    border: none;
    border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: center;
}
.btn-list img{
    height: 35px;
}

/*Navbar Search Category*/
.navbar-search__category{
    margin-top: 20px;
    width: 70%;
    margin-left: 15%;
    display: none;
    animation: fadeIn ease-in 1.5s;
}
.navbar-search__category-title span{
    font-size: 20px;
    color:#ffffff;
}
.navbar-search__category-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-search__img{
    grid-area: listImg;
    margin-top: 10px;
    display:flex;
    align-items: center;
    justify-content:left;
    gap: 20px;
}
.list-search__img img{
    width: 75px
}
.list-search__actor{
    grid-area: actor;
}
.list-search__actor h3{
    color: #ffffff;
}
.list-search__actor-item{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 30px;
    margin-top: 30px;
}
.actor-item{
    width: 140px;
}
.actor-item a{
    display: flex;
    align-items: center;
    gap: 7px;
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 100;
}
.list-search__banner{
    margin: -55px 0 0 50px;
    display:flex;
    align-items: center;
    justify-content:left;
    gap: 2px;
    grid-area: banner;
    /*box-shadow: ;*/
}
.list-search__banner img{
    filter: drop-shadow(6px 6px 40px #534953);
    width: 150px;
}

/*Navbar Search Slider*/
.navbar-search__slider {
    width: 100%;
    animation: fadeIn ease-in 1.5s;
}
.tranding-slide__header {
    width: 300px;
    height: 450px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 6px 6px 40px #534953;
}
.tranding-slide__header .tranding-slide-img img {
    width: 350px;
    height: 500px;
    border-radius: 2rem;
    object-fit: cover;
}

.tranding-slider-control__header .slider-arrow {
    width: 3rem;
    height: 3.5rem;
    border-radius: 10px;
    transform: translateX(0);
    background: #889298;
    color: #ffffff;
    opacity: 0.8;
}
.tranding-slider-control__header .swiper-button-prev{
    margin-left: 167px;
}
.tranding-slider-control__header .swiper-button-next{
    margin-right: 180px;
}

/*List Action*/
.list-action{
    width: 85%;
    margin-left:7.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}
.list-action a{
    text-decoration: none;
}
.btn-link{
    height: 70px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background: linear-gradient(90deg, #2A1C4B, #391D3C);
    gap: 15px;
    cursor: pointer;
}
.btn-link img{
    height: 30px;
}
.btn-link span{
    color: #ffffff;
    font-size: 15px;
}

/*Continue Watching*/
.continue-watching{
    margin-top: 70px;
    width: 90%;
    margin-left: 8.5%;
}
.continue-watching__slider{
    margin-top: 20px;
}
.continue-watching__title span{
    font-size: 30px;
    color: #ffffff;
}
.tranding-slide__continue {
    width: 400px;
    height: 220px;
    position: relative;
    margin: 20px;
    overflow: hidden;
    border-radius: 20px;
}
.tranding-slide__continue .tranding-slide-img img {
    width: 400px;
    height: 220px;
    border-radius: 2rem;
    object-fit: cover;
}

.tranding-slider-control__continue .slider-arrow {
    width: 3rem;
    height: 3.5rem;
    border-radius: 10px;
    transform: translateX(0);
    background: #889298;
    color: #ffffff;
    opacity: 0.8;
}
.tranding-slider-control__continue .swiper-button-prev{
    margin-left: 0;
}
.tranding-slider-control__continue .swiper-button-next{
    margin-left: 0;
}

.tranding-slide__continue-content{
    position: relative;
    z-index: 2;
}
.tranding-slide__continue-title span{
    position: absolute;
    top: 10px;
    left: 20px;
    color: #ffffff;
}
.tranding-slide__continue-action{
    position: absolute;
    top: 80px;
    left: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tranding-slide__continue-action button{
    background: none;
    border: none;
}
.btn-skipLeft img, .btn-skipRight img{
    height: 30px;
}
.btn-play img{
    height: 60px;
}
.tranding-slide__continue-line{
    position: absolute;
    top: 185px;
    left: 20px;
    right: 20px;
}
.tranding-slide__continue-line img{
    width: 100%;
}

/*List Movies*/

.list-movie{
    margin-top: 30px;
    width: 90%;
    margin-left: 8.5%;
}
.list-movie__slider{
    margin-top: 20px;
}
.list-movie__title span{
    font-size: 30px;
    color: #ffffff;
}

.tranding-slide__movie {
    width: 200px;
    height: 300px;
    position: relative;
    margin: 20px;
    overflow: hidden;
    border-radius: 20px;
}
.tranding-slide__movie .tranding-slide-img img {
    width: 200px;
    height: 300px;
    border-radius: 2rem;
    object-fit: cover;
}

/*List Series*/

.list-series{
    margin-top: 30px;
    width: 90%;
    margin-left: 8.5%;
}
.list-series__title span{
    font-size: 30px;
    color: #ffffff;
}

/*Suggest*/
.suggest{
    margin-top: 30px;
    display: flex;
    width: 85%;
    margin-left: 8.5%;
    background: linear-gradient(90deg, #0B051E, #2E3F65);
    box-shadow: 10px 5px 30px 20px rgba(30,62,88);
    border-radius: 10px;
}
.suggest-content{
    width: 60%;
}
.suggest-content__title{
    margin: 40px 0 0 30px;
}
.suggest-content__title p{
    color: #ffffff;
    font-size: 40px;
    line-height: 10px;
}
.suggest-content__action{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 270px 0 0 30px;
    gap: 20px;
}
.btn-mood{
    background: #454A61;
    border: 1px solid #767887;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
    width: 130px;
    cursor: pointer;
}
.btn-mood span, .btn-somebody span{
    color: #C1C1C1;
}
.btn-img__before{
    height: 30px;
}
.btn-img__after{
    height: 8px;
}

.btn-somebody{
    background: #454A61;
    border: 1px solid #767887;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
    width: 200px;
    cursor: pointer;
}
.suggest-img{
    width: 40%;
    display: flex;
    gap: 10px;
}
.suggest-img__group{
    width: 50%;
}
.suggest-img__item1{
    width: 100%;
    height: 300px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: url("images/suggests/suggest1.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 -55px;
}
.suggest-img__item2{
    width: 100%;
    height: 250px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: url("images/suggests/suggest2.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 -60px;
}
.suggest-img__item3{
    margin-top: 10px;
    width: 100%;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url("images/suggests/suggest3.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.suggest-img__item4{
    margin-top: 10px;
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url("images/suggests/suggest4.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

/*List Cartoons*/

.list-cartoon{
    margin-top: 70px;
    width: 90%;
    margin-left: 8.5%;
}
.list-cartoon__title span{
    font-size: 30px;
    color: #ffffff;
}

/*List Cartoons*/

.weekly-top{
    margin-top: 50px;
    width: 90%;
    margin-left: 8.5%;
}
.weekly-top__title span{
    font-size: 30px;
    color: #ffffff;
}

.weekly-top__slider{
    margin-top: 50px;
}

.tranding-slide__weekly-top {
    width: 300px;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
.tranding-slide__weekly-top .tranding-slide-img img {
    width: 200px;
    height: 300px;
    border-radius: 2rem;
    object-fit: cover;
}
.weekly-top__count{
    position: absolute;
    z-index: 2;
    font-size: 150px;
    font-weight: bold;
    top: 180px;
    left: 160px;
    color: rgba(133,131,142);
    opacity: 0.8;
}

/*Banner Footer*/
.banner-footer{
    margin-top: 30px;
    width: 90%;
    margin-left: 8.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.banner-footer img{
    width: 33%;
    filter: drop-shadow(6px 6px 40px #534953);
}

/* Footer */
.footer{
    margin-top: 100px;
    padding-bottom: 50px;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.social img{
    height: 30px;
}
.footer__list-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    margin-top: 40px;
    list-style-type: none;
}
.footer__list-link li a{
    text-decoration: none;
    color: #9E9E9E;
    font-size: 20px;
}
.footer__detail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 70px;
}
.btn-footer__detail{
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1C1F29;
    border: none;
    border-radius: 10px;
    height: 60px;
    gap: 5px;
}
.btn-footer__detail img{
    height: 50px;
}
.footer__detail-title{
    text-align: left;
}
.footer__detail-title p{
    line-height: 0;
    color: #ffffff;
}
.footer__detail-title span{
    font-size: 18px;
    line-height: 0;
    color: #ffffff;
}
.footer__nation{
    margin-top: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 80%;
    margin-left: 2%;
}
.footer__nation-address{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}
.footer__nation-address span{
    font-size: 15px;
    color: #ffffff;
}

.list-action__mobile{
    width: 85%;
    margin-left: 7.5%;
    display: none;
}
.tranding-slide {
    height: 40px;
    width: 75px;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px;
    align-items: center;
    overflow: hidden;
}

/*animation*/

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes growth {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}